body {
    background-color: aquamarine;
}

table {
    text-align: center;
    font-size: 30px;
}

td {
    border-style: ridge;
    border-color: black;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

tr {
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tr-1 {
    background-color: skyblue;
}

.tr-2 {
    background-color: powderblue;
}

nav {
    text-align: center;
}

h1 {
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

img {
    margin-left: 20px;
}

hr {
    border-color: black;
}