{% extends "base.html" %}

{% block container %}

   <hr>
   <h1 id = "tag1" >{{ title.text }}</h1>
   <hr>
   <p>Yakaboo – крупнейшая книжная платформа Украины </p>
      <p>Наша организация в сети интернет является масштабной книжной экосистемой, работающей с большинством издательств Украины. Мы любим и уважаем книги, и ценим наших читателей, предоставляя им лучшие новинки. Мы хотим, чтобы каждое произведение нашло своего владельца. Осуществляем доставку не только по Киеву, но и в остальные регионы Украины.</p>
      <ul>
          {% for item in lst %}
               <li> {{ item }}</li>
          {% endfor %}
      </ul>
   <hr>
   <p><strong>Миссия Yakaboo</strong></p>
          <p> Наше предназначение вышло за рамки продажи книг:</p>
     <ul>
         {% for item in lst1 %}
               <li> {{ item }}</li>
          {% endfor %}
     </ul>
      <p><i>Наша миссия – сделать Украину самой читающей страной в Европе.</i></p>
   <hr>
   <p><b>Наша история</b></p>
         <div class="alert alert-danger" role="alert">2004 год – создали компанию. Мы осуществляли прокат и продажу лицензионных DVD- и CD-дисков с доставкой на дом.</div>
         <div class="alert alert-info" role="alert">2009 год – начали продавать книги. </div>
         <div class="alert alert-info" role="alert">2016 год – основали издательство Yakaboo Publishing, которое издает  украинский нишевый нон-фикшн и переводит на украинский язык мировые нон-фикшн бестселлеры. За последнее время добавилось еще новое направление – детские книги.</div>
         <div class="alert alert-info" role="alert">2018 год – получили премию E-Awards 2018 в номинации «Лучший книжный интернет-магазин».</div>
         <div class="alert alert-info" role="alert">2019 год – открыли первый книжный офлайн-магазин.</div>
         <div class="alert alert-success" role="alert">2020 год – получили Украинскую народную премию в номинации «Книжный онлайн-магазин 2020 года». </div>
         <div class="alert alert-success" role="alert">2020 год – начали социальный проект «Библиотека для героев», совместно с Департаментом киберполиции подписали Меморандум о сотрудничестве в сфере противодействия пиратству и распространению контрафактной литературы на книжном рынке.</div>
         <div class="alert alert-warning" role="alert">2021 год – презентовали обновленный бренд Yakaboo. Изменения коснулись миссии, стратегии развития и визуального образа. Крупнейший книжный онлайн-магазин Украины Yakaboo стал книжной платформой, охватывающей читателей, авторов, издательства и партнеров в единую экосистему.</div>
   <hr>
   <p><b> Какой ассортимент мы предлагаем</b></p>
           <p>Выбранная нами книжная специализация оказалась очень успешной, что позволило Yakaboo расширяться и совершенствоваться, фокусируя все внимание на одном –печатных, электронных и аудиокнигах. Ассортимент книжной продукции растет и включает уже более 300 000 наименований. Читатели могут заказать у нас на сайте новинки литературы не только на родном украинском языке, каталог представлен изданиями на более 71 различных языках.</p>
           <p>Мы предлагаем нашим заказчикам:</p>
                <ul>
                    {% for item in lst2 %}
                         <li> {{ item }}</li>
                    {% endfor %}
               </ul>
      <p><em>Вместе с нашими изданиями вы можете отправиться в кругосветные путешествия, понять основы мироздания, окунуться в тайны космоса и даже найти себя в сфере оккультизма и эзотерики. У нас есть все – начиная от технологических справочников и заканчивая комиксами и яркими журналами. У нас имеется огромная база активных читателей, состоящих из более 3 млн заказчиков, которая постоянно пополняется новыми клиентами.</em></p>
       <p><em>Мы успешно развиваем собственное издательство Yakaboo Publishing, работающее в приоритетном направлении non-fiction. Это особый жанр современной документалистики с построением главного сюжета на событиях, происшедших в реальности, но с редкими включениями и художественного вымысла. Страноведческие описания, биографии известных и неординарных людей, исторические события и расследования самых громких преступлений в мире – подобные произведения рассчитаны на широкий читательский круг.</em></p>
   <hr>
      <p><b>Другая продукция магазина: настольные игры, игрушки</b></p>
           <p>Сейчас сложно представить книжный магазин, в том числе и торгующий в интернете, который занимался бы одними продажами печатных изданий. Мир совершенствуется, растут потребности людей. Ну а мы всегда идем в ногу со временем, предлагая нашим посетителям и иные товары по доступной цене, которые могут заинтересовать современного человека.</p>
           <p>Кроме книг, у нас вы можете купить с доставкой:</p>
                 <ul>
                     {% for item in lst3 %}
                         <li> {{ item }}</li>
                    {% endfor %}
                 </ul>
           <p>Ну а если у вас грядет какое-либо торжество, мы выделили отдельный подраздел подарков, где можно выбрать любой презент по любой стоимости. Причем даже подарок, приобретенный у нас дешево, гарантированно имеет высокое качество и безопасность. Мы уважаем своих клиентов и предлагаем им только самое лучшее. В том числе электронные и аудиокниги, которые пользуются популярностью наряду с классической печатной продукцией.</p>
   <hr>
      <p><b>Преимущества покупки в нашем магазине</b> </p>
           <p>Мы знаем все наши книги и знакомы они нам не только по красивым обложкам. Если вы затрудняетесь в выборе новинки и не можете определиться в огромном ассортименте, наши консультанты придут на помощь. Все продавцы Yakaboo разделяют любовь к печатному слову и рады посоветовать именно ту книгу, которую вы ищете. Наш колл-центр работает на сайте 7 дней в неделю с 8:00 до 21:00. Мы готовы проконсультировать вас по всем вопросам, включая и стоимость изданий.</p>
           <p>Нам доверяют, и уважение наших клиентов подтверждается премиями. Например, наша компания стала победителем в номинации «Лучший книжный интернет-магазин» в конкурсе наиболее удачных проектов в интернете E-awards 2018. А благодаря развитой системе логистики, мы оперативно и дешево поставляем продукцию как по Киеву, так и в любой, даже самый удаленный регион Украины. Для жителей столицы доступен самовывоз.</p>
           <p>Приходите к нам! У нас есть что дарить, чем творить, что читать и где выбирать по лучшей цене!</p>
{% endblock container %}
