/* Стилизация таблицы */
.styled-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #116466;
}

.styled-table thead tr {
    background-color: #116466;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr:hover {
    font-weight: bold;
    color: #116466;
    background: #c0e0d7;
}