<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="homework, index page, index, flask, exercise, python">
    <meta name="description" content="Homework 9 index page">
    <link href="https://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet">
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>Homework 9 index page</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 h-50">
                <header class="header">ДЗ 9. Работа с Flask</header>
            </div>
        </div>
        <div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <a class="nav-link disabled" href="/">Главная</a>
                <a class="nav-link active" href="/requirements">Зависимости проекта</a>
                <a class="nav-link active" href="/generate-users/15">Генератор пользователей</a>
                <a class="nav-link active" href="/mean">Расчет среднего</a>
                <a class="nav-link active" href="/space">Список космонавтов</a>
                <a class="nav-link active" href="/base58encode">Кодер Base58</a>
                <a class="nav-link active" href="/base58decode">Декодер Base58</a>
            </nav>
        </div>
        <div class="col-6">

          <div class="card ext-card">
          <div class="card-body">
                <pre>
                {% for line in index_content %}
                    {{ line }}
                {% endfor %}
                </pre>
          </div>
        </div>
    </div>

        </div>
    </div>
</body>
</html>