/* about_us page styles */
       .table {
            margin-top: 2em;
            margin-bottom: 2em;
        }

       .table .thead-dark th,
       .table .thead-dark td {
            text-align: center;
            font-weight: bold;
            border: none;
            color: #ffffff;
            background-color:  #806736;
            font-size: 0.9em;
            font-family: 'Montserrat', 'Open Sans', sans-serif;
        }

        .table-hover> tbody> tr:hover{
            font-weight: bold;
            color: #806736;
            background: #a18650;
        }

        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            background-color:  #d6be8d;
        }

        .table tbody>tr.row-last>td,
        .table tbody>tr.row-last>th {
            border-bottom: 2px solid #806736;
        }

/* contact page styles */

        .bg-group {
            background-color:rgb(214,190,141);
            padding-left:20px;
            padding-right:20px;
            padding-top:20px;
            padding-bottom:30px;
            margin-top: 2em;
            margin-bottom: 2em;
            width: 650px;
            float: left;
            position: relative;
            border-radius: 5px;
         }

        .form-control-lg {
            width: 100%;
         }

        .btn-primary {
            background-color: #806736;
            border-color: #806736;
         }

        .bg-check {
            margin-left: 20px;
         }

        .stacked .bg-txtarea {
            height: 100%;

         }

        .hide {
          opacity: 0;
          transition: opacity 1s linear;
          -webkit-transition: opacity 1s linear;
          -moz-transition: opacity 1s linear;
          -o-transition: opacity 1s linear;
        }
        .show {
          opacity: 1;
          transition: opacity 1s linear;
          -webkit-transition: opacity 1s linear;
          -moz-transition: opacity 1s linear;
          -o-transition: opacity 1s linear;
        }

        #firstname,
        #lastname {
            background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
            background-size: 30px 30px;
            background-position: 8px 5px;
            background-position: 11px 8px;
            background-repeat: no-repeat;
            text-indent: 2em;
         }

        #email {
            background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
            background-size: 30px 30px;
            background-position: 11px 8px;
            background-repeat: no-repeat;
            text-indent: 2em;
         }

        #message_type {
            background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-book.svg);
            background-size: 30px 30px;
            background-position: 11px 8px;
            background-repeat: no-repeat;
            text-indent: 1em;
         }

        #comment {
            background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
            background-size: 30px 30px;
            background-position: 11px 8px;
            background-repeat: no-repeat;
            text-indent: 2em;
            height: 180px;
         }

        #check_label {
            font-size: 1em;
            font-weight: bold;
            font-family: 'Montserrat', 'Open Sans', sans-serif;
         }
/* about_us page styles */
        img {
            margin-top: 2em;
            margin-bottom: 2em;
         }

        .active {
            color: #806736;
            font-size: 0.9em;
            font-family: 'Montserrat', 'Open Sans', sans-serif;
            font-weight: 500;
         }

        a.disabled {
            color: #a18650;
         }
/* Стилизация шапки и подвала */
        .header {
            background-color: #806736;
            padding: 10px;
            text-align: center;
            font-size: 35px;
            color: white;
            height: 8%;

         }

        .footer {
            background-color: #806736;
            text-align: center;
            color:white;
            padding: 10px;
            position:relative;
            line-height:16px;
         }

/* Цвет фона при выделении текста на странице */
        ::selection {
          background: #d6be8d;
         }
/* Custom error pages */

        .mainbox {
          background-color: #d6be8d;
          margin: auto;
          margin-top: 1em;
          height: 600px;
          width: 600px;
          position: relative;
        }

        .err {
          color: #ffffff;
          font-family: 'Montserrat', 'Open Sans', sans-serif;
          font-size: 11rem;
          position:absolute;
          left: 20%;
          top: 8%;
        }

        .far,
        .fas {
          position: absolute;
          font-size: 8.5rem;
          left: 42%;
          top: 15%;
          color: #ffffff;
        }

         .err2 {
            color: #ffffff;
            font-family: 'Montserrat', 'Open Sans', sans-serif;
            font-size: 11rem;
            position:absolute;
            left: 68%;
            top: 8%;
         }

         .msg {
            text-align: center;
            font-family: 'Montserrat', 'Open Sans', sans-serif;
            font-size: 1.6rem;
            position:absolute;
            left: 16%;
            top: 45%;
            width: 75%;
         }

         a {
           text-decoration: none;
           color: #806736;
         }

         a:hover {
           text-decoration: underline;
         } 