{% extends "base.html" %}
{% block title %}Server error{% endblock title %}
{% block header %}
   Page not found
{% endblock header %}
{% block container %}
<div class="col-7">
  <div class="mainbox">
    <div class="err">5</div>
    <i class="fas fa-exclamation-circle fa-spin"></i>
    <div class="err2">0</div>
    <div class="msg">Server error happened.
      <p>Please, try from<a href="SSR_GG"> main page </a></p></div>
  </div>
</div>
{% endblock container %}

<i class="fas fa-exclamation-circle"></i>