{% extends "base.html" %}

{% block container %}

    <div style="position: relative; top: 100px;">
        <div style="position: absolute; left: 100px; top: 60px;">

            <img src="/static/{{ image|random }}"  alt="Picture is here" height="200">
        </div>
        <p style="position: absolute; left:500px; top: -10px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non ante odio. Quisque vel dui eget dui venenatis
            condimentum ac mollis velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur leo
            dolor, dapibus id libero et, varius fermentum dui. Etiam a maximus tortor, in vulputate lorem. Maecenas nec
            diam pellentesque, ultrices tellus ac, gravida erat. Praesent arcu leo, cursus sit amet aliquet non,
            sagittis et turpis. Suspendisse ligula orci, tincidunt in ipsum eget, rhoncus convallis velit. Integer eget
            aliquet tellus. Vivamus et pellentesque turpis. Proin sit amet nulla in ligula bibendum commodo sit amet
            sed orci. Etiam eu risus vestibulum, fermentum orci sit amet, scelerisque mi. Phasellus a est at dolor
            accumsan vehicula pharetra sed mi. Nulla aliquam molestie sapien ut eleifend. Cras ut nulla lobortis
            lorem fermentum vehicula eu sed nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
        </p>
    </div>
{% endblock container %}