{% extends 'base.html'%}
{% block title %} {{ text.title|title }} {% endblock %}
{% block content %}
    <div class="container">

        <h2>{{text.heading|upper}}</h2>

        <p>{{text.text}}</p>

        <table class="table table-bordered">
            <tr>
                {% for item in table.heads %}
                    <th>{{ item|title }}</th>
                {% endfor %}
            </tr>
                {% for row in table.rows %}
                    <tr>
                         {% for item in row %}
                            <td>{{ item }}</td>
                         {% endfor %}
                    </tr>
                {% endfor %}
        </table>

    </div>
{% endblock %}
