{% extends "base.html" %}

{% block container %}

    <h3>{{title.title}}</h3>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                {% for key in table.keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for i in range(table.get('#') | length) %}
                <tr>
                    {% for value in table.values() %}
                    <td>
                        {% if value !=[] %}
                            {{ value.pop(0) }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock container %}