

    <div style="position:relative; top: 20px; left: 130px;">
      <div style="width: 270px; text-align:center; height: 100%; float: left;
       border-right: 2px solid black ; border-radius: 2px;"><a href="/main/">{{ lst [0] }}</a></div>
      <div style="width: 200px; text-align:center; height: 100%; float: left;
       border-right: 2px solid black ; border-radius: 2px;"><a href="/about/">{{ lst [1] }}</a></div>
      <div style="width: 270px; text-align:center; height: 100%; float: left;"><a href="/contact/">{{ lst [2] }}</a></div>
    </div>

