/*body {
    background: #FFE4C4;
}
nav {
    text-align: center;
    background: plum;
}
.individual_task_head {
    text-align: center;
}
.table_head {
    background: plum;
}
table {
    background: pink;
}
footer {
    text-align: center;
}
#submit_button  {
    border: 4px outset green;
}
#reset_button {
    border: 4px outset red;
}
*/
