{% extends "base.html" %}
{% block title %}Страница не найдена{% endblock title %}
{% block header %}
   Страница не найдена
{% endblock header %}
{% block container %}
<div class="col-7">
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">К сожалению у нас нет страницы, которую Вы искали!
      <p>Попробуйте начать<a href="index"> с главной страницы </a> Спасибо!</p></div>
  </div>
</p></div>
{% endblock container %}