{% extends "base.html" %}
{% block title %}Ошибка сервера{% endblock title %}
{% block header %}
   Страница не найдена
{% endblock header %}
{% block container %}
<div class="col-7">
  <div class="mainbox">
    <div class="err">5</div>
    <i class="fas fa-exclamation-circle fa-spin"></i>
    <div class="err2">0</div>
    <div class="msg">Произошла внутренняя ошибка сервера.
      <p>Попробуйте начать<a href="index"> с главной страницы </a> Спасибо!</p></div>
  </div>
</p></div>
{% endblock container %}

<i class="fas fa-exclamation-circle"></i>