{% extends 'base.html' %}

{% block title %}
    О Василии Пупкине
{% endblock title %}

{% block header %}
    О Василии Пупкине
{% endblock header %}

{% block keywords %}
"О Василии Пупкине, имя, пользователь, фотография Василия Пупкина, фото"
{% endblock keywords %}

{% block description %}
"Сайт посвящен самой известной и самой таинственной фигуре Рунета Василию Пупкину. Приоткройте завесу тайны"
{% endblock description %}

{% block container %}
  <div class="col-7">
            <img alt="Vasiliy Vasilievich Pupkin" src={{ url_for('static', filename='images/vpupkin.jpg') }}>
            <br>
            <h1>Пупкин Василий Васильевич</h1>
            <br>
            <p>
                Ва́ся Пу́пкин — нарицательное имя-экземплификант, используемое в
                качестве примера (экземплификации) для
                обозначения неизвестной, анонимной или произвольной личности.
                Часто используется в разговорной речи.
            </p>
            <p>
                Считается, что Вася Пупкин – это среднестатистический
                пользователь Рунета/Инета (многие считают его
                легендарнейшей личностью Рунета!). Обычно так представляются (в
                чатах, на форумах, в переписке), когда
                не хотят разглашать своего настоящего имени…
            </p>
            <p>
                Судя по таблице достижений на главной странице нашего сайта,
                Вася Пупкин знатный алкаш ))) &#8230;
            </p>

        </div>
{% endblock container %}