{% extends 'base.html' %}

{% block title %}
Достижения Василия Пупкина
{% endblock title %}

{% block header %}
Достижения Василия Пупкина
{% endblock header %}

{% block keywords %}
"Василий Пупкин, достижения, успехи, таблица результатов, Василия Пупкина"
{% endblock keywords %}

{% block description %}
"Окунитесь в мир побед Василия Пупкина."
{% endblock description %}

{% block container %}
<div class="col-7">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="4">Таблица результатов алкаша
                        Василия Пупкина
                    </th>
                </tr>
                <tr class="text-center">
                    <td scope="col">№</td>
                    <td scope="col">Дата</td>
                    <td scope="col">Выпито, л</td>
                    <td scope="col">Походов в магазин</td>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                {% if data|length > loop.index %}
                <tr class="text-center">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                </tr>
                {% elif data|length == loop.index %}
                <tr class="text-center row-last">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock container %}